
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:lightseagreen;
}
.main_div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;
  color: white;
  background-color:palevioletred;
  margin-top: 2rem;
  box-shadow: 0 3px 3px gray;
}
.center_div{
  width: 30%;
  height: 90%;
  border: 1px solid purple;
  outline: none;
  border-radius: 1rem;
  box-shadow: 0 5px 5px 5px rgb(106, 128, 149);
  background-color: white;
  
}
input{
  text-align: center;
  line-height: 2.5rem;
  background: white;
  width: 70%;
  outline: none;
  margin-left: 2rem;
}
button{
  line-height: 2.5rem;
  margin-left: 3px;
  color: white;
  background-color: palevioletred;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  width: 10%;
}
button:hover{
  background-color: green;
}
ol{
  padding: 2rem;
}
.delete_style{
  display: flex;
  justify-content: space-between;
}
li{
  margin-bottom: 0.6rem;
}
i:hover{
  color: red;
}

@media screen and (max-width:800px) 
{
  .main_div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1{
    text-align: center;
    color: white;
    background-color:palevioletred;
    margin-top: 3rem;
    margin-top: 3rem;
    box-shadow: 0 2px 2px gray;
  }

  .center_div{
    width: 80%;
    height: 80%;
    border: 1px solid purple;
    outline: none;
    border-radius: 1rem;
    box-shadow: 0 5px 5px 5px rgb(106, 128, 149);
    background-color: white;
    
  }

  input{
    text-align: center;
    line-height: 3rem;
    background: white;
    width: 70%;
    outline: none;
    margin-left: 2rem;
  }

  button{
    line-height: 2.5rem;
    margin-left: 3px;
    color: white;
    background-color: palevioletred;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    width: 9%;
  }
  button:hover{
    background-color: green;
  }
  ol{
    padding: 3rem;
  }
  .delete_style{
    display: flex;
    justify-content: space-between;
  }
  li{
    margin-bottom: 0.4rem;
  }
  i:hover{
    color: red;
  }
  
  
}